
.ingredients{
  margin-top: .75rem;
  align-items: center;
}
input.ng-invalid.ng-touched,textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}
.btn{
  margin: 10px
}
.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-img{
  max-width: 400px;
  margin: 10px auto 10px;
}

.edit{
  background-color: #FFF;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}
