  .row{
    height: 80vh;
    border-radius: 10px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)no-repeat center;
  }

  .col-lg-4{
    padding-top: 100px;
  }
  .main-bg {
    background: #2E4C6D !important;
    margin-bottom: 10px;
  }


  .link{
    color: #2E4C6D;
    text-decoration: none;
  }

  .link:hover{
    color: blue;
  }
