.recipe-detail{
  background-color: #FFF;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.list-group-item{
  margin-right: 10px;
  margin-left: 10px;
  border:  solid 1px #cdcbd6;
}

.col-md-5{
  display: flex;
  text-align:center;_margin: 1em 0;
  align-items: center;
  justify-content: center;
}

.col-md-7{
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc{
  text-align:center;

}
.dropdown{
  display: inline-block;
}



img{
  margin: 1rem 1rem 1rem;
  max-width: 80%;
  height: auto;
  border-radius: 0.75rem;
  vertical-align: middle;
}


p{
  margin-left: 1rem;
  margin-right: 1rem;
}


