
img{
  padding-top: 10px;
}
.active {
  background-color: hsl(var(--hue-color), 92%, 85%);
  color: black;
  border: none;
}
.recipe{
  background-color: #FFF;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);

}

@media screen and (max-width: 1024px){
  .list-group-item{
    display: flex;
    align-items: center;
  }

}
